.App {
  text-align: center;
  background-image: url('sundarche.jpg');
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('frame-with-dogs-vector-white-background_53876-127700.avif');
  background-position:right 60;
  background-size: 105%;
  background-repeat:no-repeat;
  min-height: 60vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  background-color: rgba(255, 255, 255, 0.593);
  padding: 100px;
  border-radius: 40px;
  text-align:center;
  width: 45%;
  margin-top: 30%;
}
